{% extends 'base.html' %}
{% load bootstrap_tags %}

<div id="wrapper" class="container">
    <section class="intro-steps-1 parallax-standard-block">
		<div class="container">
			<div class="row">
				<div  class="col-xs-12 col-sm-6 col-md-6 col-lg-3 home-text-image">
					<p>From <b>your</b> computer.</p>					
				</div>
				<div class="col-xs-0 col-sm-6 col-md-6 col-lg-9">
				</div>
			</div>
		</div>
	</section>
	<section class="intro-steps-2 parallax-standard-block">
		<div class="container">
			<div class="row">
			<div class="col-xs-0 col-sm-6 col-md-6 col-lg-9"></div>				
				<div  class="col-xs-12 col-sm-6 col-md-6 col-lg-3 home-text-image">
					<p>Welcome to The Music Store</b>.</p>
				</div>				
			</div>
		</div>
	</section>
	<section class="intro-steps-4 parallax-standard-block">
		<div class="container">
			<div class="row">				
				<div  class="col-xs-12 col-sm-6 col-md-6 col-lg-3 home-text-image">
					<p>View the latest singles and albums from your favourite singers</b>.</p>					
				</div>
				<div class="col-xs-0 col-sm-6 col-md-6 col-lg-9">
				</div>
			</div>
		</div>
	</section>
                </div>
            </div>
        </div>
    </div>
</div>